# Project exclude paths
/e-commerce-center-openfeign-80/target/
/e-commerce-eureka-server-9001/target/
/e-commerce-eureka-server-9002/target/
/e-commerce-gateway-20000/target/
/e-commerce-nacos-config-client5000/target/
/e_commerce_center-common-api/target/
/member-service-consumer-80/target/
/member-service-nacos-consumer-80/target/
/member-service-nacos-provider-10004/target/
/member-service-nacos-provider-10006/target/
/member-service-provider-10000/target/
/member-service-provider-10005/target/
/seata-order-micro-service-10008/target/
/seata_account_micro_service-10012/target/
/seata_storage_micro_service-10010/target/